@tailwind base;
@tailwind components;
@tailwind utilities;


.animate__duration-2 {
    --animate-duration: 2s;
  }
  .animate__duration-3 {
    --animate-duration: 2s;
  }
  .animate-float-3s { 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  
  .animate-float-2s { 
    animation-name: floating;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

  @keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
  }
  
  .primary-btn {
    padding: 10px 30px;
    background: #FFE92F;
    border-radius: 30px;
    color: #17215B;
    transition: 0.3s all ease;
    box-shadow: inset #d78d46 -2px -5px 7px 0px;
}
.primary-btn:hover {
    background: #1359d0;
    color: #ffffff;
    box-shadow: inset #1d1363 -2px -5px 7px 0px;
}
.primary-btn-sm {
    padding: 10px 10px;
    background: #FFE92F;
    border-radius: 30px;
    color: #17215B;
    font-size: 14px;
}
.primary-text {
    color: #17215B;
}

.secondary-text{ 
    color: #0B63E1;
}
.third-text{ 
    color: #34C8EC;
}
.bg-primary{
    background: #08033d;
}
.bg-blue-gradient {
    background: linear-gradient(
      90deg,
      #17215B ,
      #0B63E1 
    );
    color: #fff;
}
.bg-image{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-image: url(assets/bg.png);
}
.highlight-underline, .highlight-underline-center,.highlight-underline-sm {
    transition: all 0.1s;
    position: relative;
}
.highlight-underline-sm{
    color: #0B63E1;
    font-weight: bold;
    cursor: pointer;
}

.highlight-underline-sm::after{
    content: "";
    position: absolute;
    height: 3px;
    background: #0B63E1;
    max-width: 60%;
    width: 200px;
    border-radius: 50px;
    right:0;
    left:0;
    bottom: -4px;
}
.highlight-underline-center::after{
    content: "";
    position: absolute;
    height: 6px;
    background: #0B63E1;
    max-width: 60%;
    width: 250px;
    border-radius: 50px;
    margin:auto;
    right:0;
    left:0;
    bottom: -30px;

}

.highlight-underline::after{
    content: "";
    position: absolute;
    height: 6px;
    background: #0B63E1;
    max-width: 60%;
    width: 250px;
    border-radius: 50px;
    right:0;
    left:0;
    bottom: -30px;

}
.navbar .active{
    position: relative;
    color: #0B63E1;
}
.navbar .active::after{
    position: absolute;
    content: "";
    background: #0B63E1;
    width: 100%;
    height: 3px;
    bottom: -6px;
    left: 0;
    right: 0;
}


@media only screen and (max-width: 768px) {
    .navbar .active::after {
        display: none;
    }
  }